.container
  - @feeds.each do |feed|
    %h4= link_to feed.site_name, feed.site_url, class: 'site-title', target: '_blank'

    = check_entries(feed)

    %table.table.table-striped
      - feed.entries.each do |entry|
        %tr
          %td
            %small
              = create_publish_date(entry.publish_datetime.to_s)
            %br
            .entry-link-container
              = link_to entry.title, entry.url, target: '_blank'
              &nbsp;
              = get_google_plus_one_tag(entry.url)
              = get_twitter_share_tag(entry.title, entry.url)
              = get_facebook_like_tag(entry.url)
              &nbsp;
              = get_hatena_bookmark_tag(entry.title, entry.url)
